.middle{
    margin-top: 70px;
    padding: 50px;
   
  
}
.leftpart img{
  width: 120%;
  height:100%;
  margin-left: 2%
}

.rightpart{
    color: white;
    margin-left: 15%;

}

.me h1{
    text-decoration: underline;
}
