


 .navbar{

  
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100%;


 }
 
 .navbar-nav a{

  
  color: white;
  font-size: 15px;
  padding: 10px;
 
  

}

.navbar-nav{
  margin-left: auto;
  
  
} 
.logo a{
  color: white;
  font-size: 20px;
  font-weight: 500;
}


@media screen and (max-width: 600px) {
  .navbar li {
    float: none;
    display: block;
  }
}

